/* Stylisation des boutons d'action avec icônes sans fond */
.action-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Légère coloration lors du survol */
  border-radius: 50%;
}

.material-icons {
  font-size: 24px;
  color: #333;
}

/* Toggle Switch Stylisé */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745; /* Vert lorsque le client est actif */
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Floating Action Button (FAB) */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #28a745; /* Primary green color */
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  z-index: 1000; /* Ensures it stays above other elements */
}

.fab:hover {
  background-color: #218838;  /* Légère variation de la couleur au survol */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.fab:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.fab .material-icons {
  font-size: 32px;
}
