/* Conteneur de l'image principale */
.main-image-container {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
}

/* Miniatures */
.thumbnail-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s, border-color 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1);
  border-color: #007bff;
}

/* Conteneur des détails du véhicule */
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.pdf-buttons {
  display: flex;
  gap: 1rem;
}

.btn-pdf {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  transition: background-color 0.2s, color 0.2s;
}

.btn-pdf i {
  margin-right: 0.5rem;
  color: #d9534f;
}

.btn-pdf:hover {
  background-color: #d9534f;
  color: #fff;
  border-color: #d9534f;
}

.status-approved,
.status-rejected,
.badge-status-pending {
  background-color: #ffffff; // Fond blanc
  color: #000000; // Texte noir
  font-size: 0.8rem; // Taille de texte réduite
  padding: 0.2rem 0; // Espacement interne (sans cadre)
}


/////////////////////
/// 
/// 
/* Conteneur des boutons */
.action-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* Style bouton Approuver */
.btn-approve {
  background-color: rgba(40, 167, 69, 0.1); // Vert clair avec transparence
  color: #28a745; // Vert foncé pour le texte
  border: 1px solid #28a745;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-approve i {
  font-size: 1.1rem;
}

.btn-approve:hover {
  background-color: #28a745; // Fond vert plein au survol
  color: #ffffff; // Texte blanc au survol
}

/* Style bouton Rejeter */
.btn-reject {
  background-color: rgba(220, 53, 69, 0.1); // Rouge clair avec transparence
  color: #dc3545; // Rouge foncé pour le texte
  border: 1px solid #dc3545;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-reject i {
  font-size: 1.1rem;
}

.btn-reject:hover {
  background-color: #dc3545; // Fond rouge plein au survol
  color: #ffffff; // Texte blanc au survol
}


