<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/lopages" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Login</b></h3>
            <!-- <a [routerLink]="['/register']" class="link-primary">Don't have an account?</a> -->
          </div>
          <form (ngSubmit)="login()">
            <div class="form-group mb-3">
              <div class="input-box">
                <input 
                  type="email" 
                  name="email" 
                  [(ngModel)]="loginObj.email" 
                  id="email"
                  class="form-control"
                  placeholder="Email Address" 
                  required>
                <i class='bx bxs-user'></i>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-box">
                <input 
                  type="password" 
                  name="password" 
                  [(ngModel)]="loginObj.password" 
                  id="password"
                  class="form-control"
                  placeholder="Password" 
                  required>
                <i class='bx bxs-lock-alt'></i>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="customCheckc1" />
                <label class="form-check-label text-muted" for="customCheckc1">Keep me signed in</label>
              </div>
              <a href="javascript:" class="text-secondary">Forgot Password?</a>
            </div>
            <!-- <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                <span class="btn-text" *ngIf="!isLoading">Login</span>
                <span class="btn-loading" *ngIf="isLoading">Loading...</span>
              </button>
            </div> -->
            
            <!-- <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                <span *ngIf="isLoading">Loading...</span>
                <span *ngIf="!isLoading">Login</span>
              </button>
            </div> -->
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            
           
          </form>
        </div>
      </div>
      <div class="auth-footer row mt-3">
        <div class="col my-1">
          
        </div>
        
      </div>
    </div>
  </div>
</div>
