<h2 mat-dialog-title>{{ isEditMode ? 'Modifier Colis' : 'Ajouter Colis' }}</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <!-- Description -->
    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" formControlName="description" class="form-control" type="text" required>
    </div>

    <!-- Poids -->
    <div class="form-group">
      <label for="poids">Poids (kg)</label>
      <input id="poids" formControlName="poids" class="form-control" type="number" required>
    </div>

    <!-- Adresse Expéditeur -->
    <div class="form-group">
      <label for="adresseExpediteur">Adresse Expéditeur</label>
      <input id="adresseExpediteur" formControlName="adresseExpediteur" class="form-control" type="text" required>
    </div>

    <!-- Adresse Destinataire -->
    <div class="form-group">
      <label for="adresseDestinataire">Adresse Destinataire</label>
      <input id="adresseDestinataire" formControlName="adresseDestinataire" class="form-control" type="text" required>
    </div>

    <!-- Date d'Expédition -->
    <div class="form-group">
      <label for="dateExpedition">Date d'Expédition</label>
      <input id="dateExpedition" formControlName="dateExpedition" class="form-control" type="date" required>
    </div>

    <!-- Date Livraison Prévue -->
    <div class="form-group">
      <label for="dateLivraisonPrevue">Date Livraison Prévue</label>
      <input id="dateLivraisonPrevue" formControlName="dateLivraisonPrevue" class="form-control" type="date" required>
    </div>

    <!-- Sélection du Client -->
    <div class="form-group">
      <label for="clientId">Client</label>
      <select id="clientId" formControlName="clientId" class="form-control" required>
        <option value="" disabled>Sélectionner un client</option>
        <option *ngFor="let client of clients" [value]="client.id">{{ client.fullName }}</option>
      </select>
    </div>

    <!-- Champ Image -->
    <div class="form-group mt-3">
      <label for="photo">Photo</label>
      <input id="photo" type="file" (change)="onFileChange($event)" class="form-control-file">
    </div>

    <!-- Aperçu de l'Image -->
    <div *ngIf="imagePreview" class="mt-3">
      <img [src]="imagePreview" alt="Aperçu de l'image" width="100">
    </div>
  </div>
  
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="cancel()">Annuler</button>
    <button type="submit" mat-button color="primary" [disabled]="form.invalid">{{ isEditMode ? 'Enregistrer' : 'Ajouter' }}</button>
  </div>
</form>
