<h2 mat-dialog-title>Confirmation de suppression</h2>
<mat-dialog-content>
  <div class="dialog-content-wrapper">
    <!-- <mat-icon class="warning-icon">warning</mat-icon> -->
    <div>
      <p>Vous êtes sur le point de supprimer ce livreur.</p>
      <p style="margin-top: 8px; color: #d32f2f;">Cette action est irréversible.</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="cancel-button" (click)="cancel()">
    <mat-icon>close</mat-icon>
    Annuler
  </button>
  <button mat-raised-button class="delete-button" (click)="confirmDelete()">
    <mat-icon>delete</mat-icon>
    Supprimer
  </button>
</mat-dialog-actions>
